{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}
         re-frame/re-frame   {:mvn/version "1.2.0"}
         cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}}
 :aliases
 {:jar     {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
            :exec-fn      hf.depstar/jar
            :exec-args    {:jar "re-frame-crux.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn      deps-deploy.deps-deploy/deploy
            :exec-args    {:installer :local :artifact "re-frame-crux.jar"}}
  :deploy  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn      deps-deploy.deps-deploy/deploy
            :exec-args    {:installer :remote :artifact "re-frame-crux.jar"}}}}
